<h1>Homework 2</h1>
In this notebook there are the activities related to the second homework and, as with the first homework, feel free to use the web to find the solutions to any of these problems. Also, the bonus questions are not mandatory but, if you happen to have the time, try them out too!<br>

<h1>numpy</h1>
Exercise 1: show that now you can import libraries by importing pandas, numpy and matplotlib.

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
np

In [4]:
pd

In [2]:
plt

Exercise 2: Will the following code block work?

In [10]:
# This creates a 3x3 array of random numbers ranging from 0 to 1
array1 = np.random.random((3, 3))
array2 = np.random.random((3, 1))

np.add(array1,array2)

array([[0.64935184, 0.41291715, 0.80923167],
       [0.83921827, 1.67997417, 1.42694676],
       [0.97776464, 0.61832529, 1.13190066]])

Exercise 3: What about now?

In [12]:
# This creates a 3x3 array of random numbers ranging from 0 to 1
array3 = np.random.random((3, 3))
array4 = np.random.random((3, 2))

np.add(array3, array4)

ValueError: operands could not be broadcast together with shapes (3,3) (3,2)

Exercise 4: by inspecting the arrays 1 to 4 can you figure out why one operation worked and another one didn't? (hint: check their values and shape)

In [ ]:
#Two dimensions are compatible when they are equal, or one of them is 1 (https://www.statology.org/operands-could-not-be-broadcast-together-with-shapes/)

Exercise 5: Using the function to create an array of random numbers [np.random.random](https://numpy.org/doc/stable/reference/random/generated/numpy.random.random.html) how can you modify the code (as in the cells above) so that the numbers will vary between 0 and 100 instead of 0 and 1? And how can you modify the shape of the function?

In [19]:
# unable to work out the function to create this 
# awaiting response from zoho social (fingers crossed) and will update branch ASAP

Exercise 6: Using the array defined on the exercise above, use [np.where](https://numpy.org/doc/stable/reference/generated/numpy.where.html) to find the positions the values that are larger than 50 (or feel free to pick any other number).

In [ ]:
# unable to use np.where without the above function

<h1>Pandas </h1>
There are two datasets on available to this work one is the pokemon dataset we explored in the lectured and the other one is the same dataframe but, for the sake of a nice story, let us say it was sabotaged by team rocket.

Exercise 1: open both dataframes supplied using [pd.read_csv](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) (and don't forget to assign them to different objects).

In [40]:
pokemon_df = pd.read_csv('Pokemon.csv')
pokemon_df1 = pd.read_csv('Pokemon_sabotage.csv')

In [41]:
print(pokemon_df)

       #                   Name   Type 1  Type 2  Total  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison    318  45      49       49
1      2                Ivysaur    Grass  Poison    405  60      62       63
2      3               Venusaur    Grass  Poison    525  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison    625  80     100      123
4      4             Charmander     Fire     NaN    309  39      52       43
..   ...                    ...      ...     ...    ...  ..     ...      ...
795  719                Diancie     Rock   Fairy    600  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy    700  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost    600  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark    680  80     160       60
799  721              Volcanion     Fire   Water    600  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 13 columns]

In [42]:
print(pokemon_df1)

       #                   Name   Type 1  Type 2  Total    HP  Attack  \
0      1              Bulbasaur    Grass  Poison    318  45.0      49
1      2                Ivysaur    Grass  Poison    405  60.0      62
2      3               Venusaur    Grass  Poison    525  80.0      82
3      3  VenusaurMega Venusaur    Grass  Poison    625  80.0     100
4      4             Charmander     Fire     NaN    309  39.0      52
..   ...                    ...      ...     ...    ...   ...     ...
795  719                Diancie     Rock   Fairy    600  50.0     100
796  719    DiancieMega Diancie     Rock   Fairy    700  50.0     160
797  720    HoopaHoopa Confined  Psychic   Ghost    600  80.0     110
798  720     HoopaHoopa Unbound  Psychic    Dark    680  80.0     160
799  721              Volcanion     Fire   Water    600  80.0     110

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
0       49.0       65     65.0   45.0           1      False
1       63.0       80     80.0   60.0           1      False
2       83.0      100    100.0   80.0           1      False
3      123.0      122    120.0   80.0           1      False
4       43.0       60     50.0   65.0           1      False
..       ...      ...      ...    ...         ...        ...
795    150.0      100    150.0   50.0           6       True
796    110.0      160    110.0  110.0           6       True
797     60.0      150    130.0   70.0           6       True
798     60.0      170    130.0   80.0           6       True
799    120.0      130     90.0   70.0           6       True

[800 rows x 13 columns]

Exercise 2: Using [pd.isna](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isna.html) check how many missing numbers are in each dataframe.

In [26]:
#source - https://www.youtube.com/watch?v=3qQrlLP-n10
pokemon_df.isnull().sum()

#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [27]:
#source - https://www.youtube.com/watch?v=3qQrlLP-n10
pokemon_df1.isnull().sum()

#               0
Name            2
Type 1          1
Type 2        387
Total           0
HP              3
Attack          0
Defense         1
Sp. Atk         0
Sp. Def         1
Speed           4
Generation      0
Legendary       0
dtype: int64

Exercise 3: Two of the main ways to deal with missing data is [pd.dropna](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html) and [pd.fillna](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html). How are these methods different from each other in how they deal with the missing data? Which, if any, would you use on the dataset? Why?

In [ ]:
#pd.dropdna will remove all missing values.
#pd.fillna will any missing values using the specified method.

#Personally don't think that either of these methods would be suitable for this data set, as there are various columns with missing data that cannot be accurately replaced

From now on we will only be working with the main (non sabotaged dataframe).<br>

Exercise 4: to free up memory delete the sabotaged dataframe. Bonus: before deleting find a way to check how much space in memory the dataframes occupy. [hint](https://stackoverflow.com/questions/449560/how-do-i-determine-the-size-of-an-object-in-python)

In [47]:
import sys

In [51]:
sys.getsizeof(pokemon_df1)

199279

In [58]:
pokemon_df1.keys()

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [64]:
pokemon_df1 = pokemon_df1.drop(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'], axis=1)

In [65]:
pokemon_df1

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[800 rows x 0 columns]

Exercise 5: Create a new column that contains the sum of the Attack, speed and defense stats.

In [67]:
pokemon_df['Atk+Spd+Def'] = pokemon_df['Attack'] + pokemon_df['Speed'] + pokemon_df['Defense']

In [68]:
pokemon_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Atk+Spd+Def
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,143
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,185
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,245
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,303
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,300
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,380
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,240
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,300
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,300

Exercise 6: Find out the mean value of the attack, speed, defense columns and the new column that was created above.

In [78]:
meanstats = pokemon_df [['Attack','Speed','Defense','Atk+Spd+Def']].mean()

In [79]:
print(meanstats)

Attack          79.00125
Speed           68.27750
Defense         73.84250
Atk+Spd+Def    221.12125
dtype: float64

Exercise 7: Find out how many pokemon have above average stats in the attack, speed, defense and the new column. Bonus: Do the pokemon with above average stats have a preffered type?

In [91]:
pokemon_df[pokemon_df['Attack'] > 79.00125]
pokemon_df[pokemon_df['Speed'] > 68.27750]
pokemon_df[pokemon_df['Defense'] > 73.84250]
pokemon_df[pokemon_df['Atk+Spd+Def'] > 221.12125]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Atk+Spd+Def
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,245
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,303
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,262
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,341
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,282
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,300
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,380
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,240
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,300
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,300

In [ ]:
#Number of pokemon with above average stats is 389

Super bonus: There are many platforms out there that contain different tools to boost your learning. Then for the super bonus create an account on [kaggle](https://www.kaggle.com/) and complete the courses
[intro to programming](https://www.kaggle.com/learn/intro-to-programming) and [intro to python](https://www.kaggle.com/learn/python) courses. All kaggle courses are free of charge and offer a [certificate](https://www.kaggle.com/learn-course-certificates) !